.list-table-format{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
}
.list-table-format.title{
    background-color: #f9f9f9;
    font-weight: 600;
}
.list-table-format img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #cacaca;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-right: 10px;
}

@media (max-width: 600px) {
    .list-table-format{
        grid-template-columns: 0.5fr 2fr 1fr;
        gap: 5px;
        font-size: 12px;
    }
    .list-table-format img{
        width: 40px;
        height: 40px;
        margin-right: 5px;
    }
    .list-table-format .actions, .list-table-format .price{
        display: none;
    }
}

.cursor{
    cursor: pointer;
}
